aiohttp
hachoir
numpy
Pillow
requests
tgcrypto
olefile
motor
pytz
pymongo
pyrofork
dnspython
psutil
filetype
tldextract
ffmpeg-python
aiofiles
pyromod
yt-dlp
lk21
pytube
flask
gunicorn
python-telegram-bot
python-dotenv
tor
rarfile
tarfile
pyunpack
patool
